body {
    background-image: url(bgwhite.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
h1 {
    color:  #333; 
    font-family:Arial, Helvetica, sans-serif;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    border-radius: 15px;
    
}
  
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration:underline;
}
  
div.scrollmenu a:hover {
    background-color: #777;
}
div.compt {
    border: 4px;
    border-style: solid;
    background: white;
    border-radius: 15px;
    padding: 5px;
    
}
div.forma {
    border: 4px;
    border-style: solid;
    background: white;
    border-radius: 15px;
    padding: 5px;
    
}
div.exp {
    border: 4px;
    border-style: solid;
    background: white;
    border-radius: 15px;
    padding: 5px;
    
}
div.inscr {
    position:relative;
    margin-right: auto;
    border: 4px;
    padding:5px;
    border-style: solid;
    background: white;
    border-radius: 15px;
    padding: 5px;
    
}