<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Neflisme</title>
  </head>
  <body>
    <header>
      <a href="http://localhost/AFPA/cinema/Acteur/affiche">liste acteur</a>
      <a href="http://localhost/AFPA/cinema/Acteur/nouvelleActeur">ajout acteur</a><br />
      <a href="http://localhost/AFPA/cinema/Film/affiche">liste film</a>
      <a href="http://localhost/AFPA/cinema/Film/nouveauFilm">ajout film</a>
    </header>
  </body>
</html>
