{% extends "base.html.twig" %} {% block title %} - Genres {% endblock %} {%
block header %}
<a href="http://localhost/http/alloCine/"><h1>Genres</h1></a>
{% endblock %} {% block content %}
<form action="" method="post">
  <label for="nom">
    Nom
    <input type="text" name="nom" value="{{ acteur.nom }}" />
  </label>
  <label for="prenom">
    Prénom
    <input type="text" name="prenom" value="{{ acteur.prenom }}" />
  </label>
</form>
{% endblock %}
