<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>MVC</title>
  </head>
  <body>
    <header>
      <ul class="dropdown-menu">
        <li class="nav-item" >
          <a class="nav-link" href="http://localhost/AFPA/mvc/controllerEtudiant/listeEtudiant">liste Etudiant</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="http://localhost/AFPA/mvc/controllerEtudiant/afficheAddEtudiant">ajout Etudiant</a>
        </li>
      </ul>
      <ul class="dropdown-menu">
        <li class="nav-item" >
          <a class="nav-link" href="http://localhost/AFPA/mvc/controllerCours/listeCours">liste Cours</a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" href="http://localhost/AFPA/mvc/controllerCours/afficheAddCours">ajout Cours</a>
        </li>
      </ul>

      <ul class="dropdown-menu">
        <li class="nav-item" >
          <a class="nav-link" href="http://localhost/AFPA/mvc/controllerinscriptions">Inscription</a>
        </li>
      </ul>

      <ul class="dropdown-menu">
        <li class="nav-item">
          <a class="nav-link" href="controllerEtudiant/connexion">Connexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="controllerEtudiant/disconnect">Deconnexion</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="controllerEtudiant/afficheAddCourseToStudent">Ajout d'un cours pour moi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="controllerEtudiant/supptCoursEtudiant">Suppression d'un cours pour moi</a>
        </li>
      </ul>
    </header>
  </body>
</html>
