* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  padding: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100vh;
  background: #221939;
}
.bolle {
  position: relative;
  width: 75px;
  height: 75px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  border: 2px solid transparent;
  transform-origin: bottom center;
  animation: animate 5s linear infinite;
}
.bolle::before {
  content: "";
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translateX(-50%);
  width: 40%;
  height: 7px;
  border: 5px solid #444;
  border-radius: 50%;
  box-shadow: 0 3px #222;
}
.bolle::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 37px;
  height: 15px;
  background: rgba(255, 255, 255, 0.1);
}
.liquide {
  position: absolute;
  top: 50%;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #6cfb41;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
  filter: drop-shadow(0 0 40px #6cfb41);
  transform-origin: top center;
  animation: animateliquid 5s linear infinite;
}
.liquide::before {
  content: "";
  position: absolute;
  top: -8%;
  width: 100%;
  height: 5px;
  background: #5cd437;
  border-radius: 50%;
  filter: drop-shadow(0 0 20px #6cfb41);
}
@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {filter: hue-rotate(50deg);
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    filter: hue-rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes animateliquid {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(0deg);
  }