* {
    border: 1px solid red;
    margin: 0px;
    padding: 0px;
}
h1 {
    text-align: center;
    color: aqua;
}
#container {
    width: 400px;
    margin: 0 auto;
    padding: 0 auto;
}
.db {
    text-align: center;
    display: inline-block;
    width: 95px;
}
.db:nth-child(1) {
    background-color: rgb(238, 9, 219);
}
.db:nth-child(2) {
    background-color: aqua;
}
.db:nth-child(3) {
    background-color: rgba(132, 0, 255, 0.459);
}
.db:nth-child(4) {
    background-color: antiquewhite;
}

@media screen and (max-width: 640px) {
#container {display: none; }
}