<%- include('header') %>
<h1>DATA4</h1>
<div class="card-deck">
<% if ( locals.especes ) { %>        
<% especes.forEach(function(espece) { %>
  <div class="card bg-dark text-white text-center" >
    <div class="card-body">
      <h5 class="card-title"><%= espece.nom %></h5>
      <p  class="card-text"><%= espece.description %></p>
      <!-- {% for continent in espece.continents %}{{ continent.libelle }} {% endfor %} -->
    </p>
      <a href="#" class="btn btn-primary">modifier</a>
      <a href="#" class="btn btn-primary">supprimer</a>
      <a href="#" class="btn btn-primary">retour</a>
    </div>
  </div>   
</div> 
<% })} %>
</body>
</html>
