<%- include('header') %>
<h1>modif</h1>

<main>
    <form action="update_animal" method="post">
        <label for="nom">nom de l'animal :</label>
        <input type="text" name="nom" id="nom"  required>

        <label for="description">description de l'animal :</label>
        <input type="text" name="description" id="description" required>
        
        <label for="poid">poid de l'animal :</label>
        <input type="number" name="poid" id="poid" required>

        <label for="image">image de l'animal :</label>
        <input type="text" name="image" id="image" required>

        <label for"espece_id">espece de l'animal :</label>
        <select name="espece_id" id="espece_id">
            <option value="1">chat</option>
            <option value="2">chien</option>
            <option value="3">oiseau</option>
            <option value="4">poisson</option>
            <option value="5">autre</option>
        </select>

        <input type="submit" value="Modifier">
    </form>
</main>