{% extends "base.html.twig" %}

{% block title %}
	- Acteur
{% endblock %}
{% block header %}
	<h1>
		Acteurs
	</h1>
{% endblock %}
{% block content %}
	{% for acteur in acteurs %}
    {{ acteur.first_name | upper }}&nbsp;
    {{ acteur.last_name | upper }}<br/>
	{% endfor %}
{% endblock %}
