{% extends "base.html.twig" %}

{% block title %}
	- Acteur
{% endblock %}
{% block header %}
	<h1>
		Acteurs
	</h1>
{% endblock %}
{% block content %}
	{% for acteur in acteurs %} {{ acteur.prenom | upper }}&nbsp; {{ acteur.nom | upper }}<br/>
	{% endfor %}
{% endblock %}
