{% extends "base.html.twig" %}

{% block title %}
	- Acteurs
{% endblock %}
{% block header %}
	<h1>
		Acteurs
	</h1>
{% endblock %}
{% block content %}
	{% for acteur in acteurs %} 
	<a href="http://localhost/http/alloCine/Acteur/' . $acteurs->getId() . '">{{ acteur.prenom | upper }}&nbsp; {{ acteur.nom | upper }}</a><br/>
	{% endfor %}
	<a href="http://localhost/http/alloCine/Acteur/nouveau">+</a>
{% endblock %}
