<!DOCTYPE html>
<html>
    <head>{% block head %}
        <meta charset=\"UTF-8\" />
        <link href="http://localhost/http/AlloCine/src/views/style.css" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
        <title>AFPA{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
<body>
<header>{% block header %}{% endblock %}
</header>
<main>
    {% block body %}
        <div id="content">{% block content %}{% endblock %}</div>
    {% endblock %}
</main>
<footer>
<div class="chiant">
    {% block footer %}
        <p>&copy; Copyright 2022 by <a href="http://domain.invalid/">AFPA</a></p>
    {% endblock %}</div>
</footer>
</body>
</html> 