{% extends "base.html.twig" %}

{% block title %}
	- Films
{% endblock %}
{% block header %}
	<h1>
		Films
	</h1>
{% endblock %}
{% block content %}
	{% for film in films %}
	<a href="http://localhost/http/alloCine/Film/' . $films->getId() . '">{{ film.titre | upper }}&nbsp; {{ film.nom | upper }}</a><br/>
	{% endfor %}
	<a href="http://localhost/http/alloCine/Film/new">+</a>
{% endblock %}
