{% extends "base.html.twig" %}

{% block title %}
	- genre
{% endblock %}
{% block header %}
	<h1>
		genres
	</h1>
{% endblock %}
{% block content %}
	{% for genre in genres %} {{ genre.prenom | upper }}&nbsp; {{ genre.nom | upper }}<br/>
	{% endfor %}
{% endblock %}