{% extends "base.html.twig" %}

{% block title %}
	- genre
{% endblock %}
{% block header %}
	<h1>
		genres
	</h1>
{% endblock %}
{% block content %}
	{% for genre in genres %}
	<a href="http://localhost/http/alloCine/Genre/' . $genres->getId() . '">{{ genre.prenom | upper }}&nbsp; {{ genre.nom | upper }}</a><br/>
	{% endfor %}
	<a href="http://localhost/http/alloCine/Genre/new">+</a>
{% endblock %}