{% extends "base.html.twig" %}

{% block header %}
    <h1>
        AlloCiné
    </h1>
    <ul>
        <li>
           <a href="http://localhost/http/alloCine/Film">Film</a>
        </li>
        <li>
            <a href="http://localhost/http/alloCine/Genre">Genre</a>
        </li>
        <li>
            <a href="http://localhost/http/alloCine/Realisateur">Realisateur</a>
        </li>
        <li>
            <a href="http://localhost/http/alloCine/Acteur">Acteur</a>
        </li>
    </ul>    
{% endblock %}
