{% extends "base.html.twig" %}

{% block title %}
	- realisateur
{% endblock %}
{% block header %}
	<h1>
		realisateurs
	</h1>
{% endblock %}
{% block content %}
	{% for realisateur in realisateurs %}
	<a href="http://localhost/http/alloCine/Realisateur/' . $realisateurs->getId() . '">{{ realisateur.prenom | upper }}&nbsp; {{ realisateur.nom | upper }}</a><br/>
	{% endfor %}
{% endblock %}