{% extends "base.html.twig" %}

{% block title %}
	- realisateur
{% endblock %}
{% block header %}
	<h1>
		realisateurs
	</h1>
{% endblock %}
{% block content %}
	{% for realisateur in realisateurs %} {{ realisateur.prenom | upper }}&nbsp; {{ realisateur.nom | upper }}<br/>
	{% endfor %}
{% endblock %}