* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
}
header {
  width: 100%;
  height: 20%;
  background-color: grey;
}
main {
  height: 70%;
}
footer {
  height: 10%;
  background-color: black;
}
