$font-stack: helvetica, sans-serif;
$primary-color: #333;

body {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li{
        display: block;
    }
    p{
       font: 100% $font-stack;
    color: $primary-color; 
    }
    
}