*
{
    margin: 0;
    padding: 0;
    border: 1px solid black;
    }
body 
{
    font-family: Arial,sans-serif;
    font-size: 15px;
}
h1, h2,h3,h4
{
  color: #444;  
}
h1{
    font-size: 12px;
}
h2{
    font-size: 12px;
}
h3{
    font-size: 12px;
}
h4{
    font-size: 12px;
}
a{
    text-decoration: none;
    font-size: 12px;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: rgb(141, 25, 25);
}
.orange{
    color: #FF7A01;
}

/*header*/
header 
{
    height: 120px;   
}
header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;   
    margin-top: 50px;
}
header nav ul li
{
    
    display: inline-block;
}
header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
/*footer*/
footer{
    height: 120px;
}
footer .wrapper{
    height: 120px;
    width: 130px;

}